resources:
- name: {{properties["name"]}}
  type: compute.v1.instance
  properties:
    zone: {{properties["zone"]}}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{properties["zone"]}}/machineTypes/g1-small
    tags:
      items: [{{properties["tags"]}}]
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/images/ubuntu-1804-bionic-v20190617
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/{{properties["network"]}}
      subnetwork: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/regions/{{properties["region"]}}/subnetworks/{{properties["subnet"]}}
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
     metadata:
      items:
        - key: startup-script
          value: |
            {{ imports["scripts/install_ansible.py"]|indent(12)|replace("@PROJECT@",env["project"])|replace("@ZONE@",properties["zone"]) }}
{# 
Create service account.
#}
- name: {{ env['name'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['name'] }}
    displayName: serviceAccount-{{ env['name'] }}
